<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Configurations</h4>
    <button class="btn btn-outline-secondary ml-3 btn-sm" [title]="'OVERVIEW-GRAPH.UPLOAD.TOOLTIP' | translate" (click)="openUploadFileModal()">
        <i class="fas fa-upload"></i>
    </button>
    <button type="button" class="close-btn ml-auto" aria-label="Close" (click)="activeModalService.dismiss('Cross click')">
        <i class="fas fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <div class="p-2">
        <div class="custom-tabs mb-4 d-flex">
            <button class="btn mr-2" [ngClass]="activeTab === 'metadata' ? 'btn-primary' : 'btn-outline-secondary'" (click)="activeTab = 'metadata'">
                {{ 'CONFIGURATION.EDIT-METADATA' | translate }}
            </button>
            <button class="btn" [ngClass]="activeTab === 'repositories' ? 'btn-primary' : 'btn-outline-secondary'" (click)="activeTab = 'repositories'">
                {{ 'CONFIGURATION.EDIT-REPOSITORIES' | translate }}
            </button>
        </div>
        
        <div class="tab-content">
            <div *ngIf="activeTab === 'metadata'">
                <metadata [metadata]="assignment.metadata" (saved)="saveMetadata($event)"
                    (modified)="metadataModified = true"></metadata>
            </div>
            <div *ngIf="activeTab === 'repositories'">
                <edit-repositories [datas]="assignment.repositories" (saved)="saveRepositories($event)"
                    (modified)="repositoriesModified = true">
                </edit-repositories>
            </div>
        </div>
    </div>
</div>