<div class="app-layout-wrapper d-flex flex-column" style="height: 100vh; overflow: hidden;">
<nav class="navbar sticky-top">
    <!-- LEFT SIDE: Brand & Navigation -->
    <div class="navbar-left d-flex align-items-center flex-nowrap">
        <button class="btn btn-icon btn-outline-secondary mr-3" style="border: none;" (click)="isSidebarOpen = true">
            <i class="fas fa-bars"></i>
        </button>
        <div class="d-flex align-items-center text-nowrap mr-4">
            <button class="btn btn-back mr-3 d-flex align-items-center" routerLink="home">
                <i class="fas fa-arrow-left"></i>
                <span class="back-text">{{ 'NAVBAR.ASSIGNMENTS' | translate }}</span>
            </button>
            <div *ngIf="dataService.dataLoaded()" class="assignment-chip d-flex align-items-center">
                <span [ngbTooltip]="dataService.title" placement="bottom">{{ truncatedTitle }}</span>
                <button class="btn-action-icon ml-2" [ngbTooltip]="'HOME.EDIT-ASSIGNMENT-TOOLTIP' | translate" placement="bottom" (click)="openCurrentAssignmentConfig()">
                    <i class="fas fa-cog" style="pointer-events: none;"></i>
                </button>
            </div>
        </div>
        
        <ul class="navbar-nav flex-row align-items-center">
            <li class="nav-item" routerLinkActive="active" *ngIf="dataService.dataLoaded()">
                <a class="nav-link" routerLink="overview">
                    <i class="fas fa-layer-group mr-2"></i>{{ 'NAVBAR.OVERVIEW' | translate }}
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="dataService.dataLoaded()">
                 <a class="nav-link" routerLink="students-commits">
                    <i class="fas fa-code-branch mr-2"></i>{{ 'NAVBAR.STUDENTS-COMMITS' | translate }}
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="dataService.dataLoaded()">
                <a class="nav-link" routerLink="questions-completion">
                    <i class="fas fa-tasks mr-2"></i>{{ 'NAVBAR.QUESTIONS-COMPLETION' | translate }}
                </a>
            </li>
        </ul>
    </div>

    <!-- RIGHT SIDE: Actions & Settings -->
    <div class="navbar-right d-flex align-items-center flex-nowrap">
    </div>
</nav>

<div class="container-fluid flex-grow-1 d-flex flex-column" style="overflow: hidden;">
    <div class="row flex-grow-1" style="overflow: hidden;">
        <div class="col-12 d-flex flex-column" style="overflow: hidden; padding-top: 1rem; padding-bottom: 1rem;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- Global Sidebar -->
<div class="sidebar-backdrop" [class.show]="isSidebarOpen" (click)="isSidebarOpen = false"></div>
<div class="sidebar-drawer shadow-lg" [class.show]="isSidebarOpen">

    <app-sidebar-settings [isOpen]="isSidebarOpen" (onClose)="isSidebarOpen = false" class="d-flex flex-column flex-grow-1"></app-sidebar-settings>
</div>

<ng-template #editAssignmentTooltip>{{ 'HOME.EDIT-ASSIGNMENT-TOOLTIP' | translate }}</ng-template>
</div>