<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="home"><i
                        class="fas fa-home mr-2"></i>{{ 'NAVBAR.HOME' | translate }}</a></li>
            <li class="nav-item dropdown" routerLinkActive="active" *ngIf="dataService.dataLoaded()">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-chart-line mr-2"></i>{{ 'NAVBAR.GRAPHS' | translate }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="overview"><i class="fas fa-chart-line mr-2"></i>{{
                        'NAVBAR.OVERVIEW' |
                        translate }}</a>
                    <a class="dropdown-item" routerLink="students-commits"><i class="fas fa-chart-bar mr-2"></i>{{
                        'NAVBAR.STUDENTS-COMMITS' | translate }}</a>
                    <a class="dropdown-item" routerLink="questions-completion"><i class="fas fa-question mr-2"></i>{{
                        'NAVBAR.QUESTIONS-COMPLETION' | translate }}</a>
                </div>
            </li>
            <li class="nav-item">
                <button type="button" class="mt-1 ml-1 btn btn-sm btn-secondary rounded-circle"
                    [ngbTooltip]="editAssignmentTooltip" (click)="openCurrentAssignmentConfig()"><i
                        class="fas fa-cog icon"></i></button>
            </li>
            <li class="nav-item">
                <button type="button" class="mt-1 ml-1 btn btn-sm btn-secondary rounded-circle"
                    [ngbTooltip]="downloadTooltip" (click)="download()"><i class="fas fa-upload"></i></button>
            </li>

            <ul class="nav navbar-nav navbar-center">
                <span id="document-title" class="navbar-text">{{ this.dataService?.title }}</span>
            </ul>
        </ul>

    </div>
    <div class="navbar-collapse collapse order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-success" *ngIf="!authService.isSignedIn()" [disabled]="loading"
                        (click)="onSignInGithub()">
                        <span *ngIf="loading; else loggedOut" class="spinner-border spinner-border-sm pr-1"
                            role="status" aria-hidden="true"></span>
                        {{ 'NAVBAR.SIGN-IN' | translate }}

                        <ng-template #loggedOut>
                            <i class="fas fa-sign-in-alt mr-1"></i>
                        </ng-template>
                    </button>
                    <button class="btn btn-danger" *ngIf="authService.isSignedIn()" (click)="onSignOut()"><i
                            class="fas fa-sign-out-alt mr-2"></i>{{ 'NAVBAR.SIGN-OUT' | translate }}</button>
                </div>
                <select #langSelect (change)="changeLanguage(langSelect.value)" class="form-control">
                    <option *ngFor="let lang of translateService.getLangs()" [value]="lang"
                        [selected]="lang === translateService.currentLang">
                        {{ lang }}</option>
                </select>
            </div>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<ng-template #downloadTooltip>{{ 'OVERVIEW-GRAPH.DOWNLOAD-TOOLTIP' | translate }}</ng-template>
<ng-template #editAssignmentTooltip>{{ 'HOME.EDIT-ASSIGNMENT-TOOLTIP' | translate }}</ng-template>