<h2>Authentification</h2>
<!-- <img *ngIf="loading" src="assets/loader.gif" />
<div class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div> -->
<button class="btn btn-success" *ngIf="!authService.isSignedIn('btn success')" [disabled]="loading"
  (click)="onSignInGithub()">
  <span *ngIf="loading; else loggedOut" class="spinner-border spinner-border-sm pr-1" role="status"
    aria-hidden="true"></span>
  Se connecter

  <ng-template #loggedOut>
    <i class="fas fa-sign-in-alt pr-1"></i>
  </ng-template>
</button>
<button class="btn btn-danger" *ngIf="authService.isSignedIn('btn danger')" (click)="onSignOut()"><i
    class="fas fa-sign-out-alt pr-2"></i>Se déconnecter</button>

<div class="card mt-3">
  <h5 class="card-header">
    <a data-toggle="collapse" href="#collapse-example" aria-expanded="true" aria-controls="collapse-example"
      style="text-decoration:none" id="heading-example" class="d-block">
      <i class="fa fa-chevron-down pull-right float-right"></i>
      Structure du JSON
    </a>
  </h5>
  <div id="collapse-example" class="collapse show" aria-labelledby="heading-example">
    <div class="card-body p-2">
      <pre class="jumbotron p-3 my-1">
          <button type="button" id="copier" class="btn float-right btn-sm" (click)="callServiceToCopy()" 
          data-toggle="tooltip" data-placement="left" title="Copier dans le presse-papier"><span class="text-muted">Copier</span></button>
&#123;
  "dateDebut": "01/01/17 12:00",
  "dateFin": "01/04/18 12:00",
  <span class="text-danger">"repositories"</span>: [
    &#123; <span class="text-danger">"url"</span>: "https://github.com/user/repository", "name": "First name LAST NAME", "groupeTP": "12" &#125;
  ],
  "seances": [
    &#123;
      <span class="text-danger">"dateDebut"</span>: "22/05/19 10:00",
      <span class="text-danger">"dateFin"</span>: "22/05/19 11:00",
      "groupeTP": "11"
    &#125;
  ],
  "reviews": [
    &#123; <span class="text-danger">"date"</span>: "07/03/19 15:40", "label": "Review 1", "groupeTP": "21" &#125;
  ],
  "corrections": [
    &#123; <span class="text-danger">"date"</span>: "07/03/19 15:40", "label": "Correction 1", "groupeTP": "22" &#125;
  ]
&#125;</pre>
      <div class="row">
        <div class="col-sm-3">
          <div class="border p-2 rounded">
            <i class="fas fa-square" style="color:red"></i> Obligatoire dans le parent
            <br>
            <i class="fas fa-square" style="color:black"></i> Optionnel dans le parent
          </div>
        </div>
      </div>
    </div>
  </div>
</div>