<div class="mt-2">
  <!-- <img *ngIf="loading" src="assets/loader.gif" />
<div class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div> -->
  <button class="btn btn-success" *ngIf="!authService.isSignedIn('btn success')" [disabled]="loading"
    (click)="onSignInGithub()">
    <span *ngIf="loading; else loggedOut" class="spinner-border spinner-border-sm pr-1" role="status"
      aria-hidden="true"></span>
    Sign in

    <ng-template #loggedOut>
      <i class="fas fa-sign-in-alt mr-1"></i>
    </ng-template>
  </button>
  <button class="btn btn-danger" *ngIf="authService.isSignedIn('btn danger')" (click)="onSignOut()"><i
      class="fas fa-sign-out-alt mr-2"></i>Sign out</button>

  <div class="accordion mt-3" id="accordion">
    <div class="card">
      <h5 class="card-header">
        <a data-toggle="collapse" href="#collapseJSON" aria-expanded="true" aria-controls="collapseJSON"
          style="text-decoration:none" id="heading-example" class="d-block collapsed">
          <i class="fa fa-chevron-down pull-right float-right"></i>
          JSON structure
        </a>
      </h5>
      <div id="collapseJSON" class="collapse" aria-labelledby="heading-example" data-parent="#accordion">
        <div class="card-body p-2">
          <pre class="jumbotron p-3 my-1">
          <button type="button" id="copier" class="btn float-right btn-sm" (click)="copyJSON()" 
          data-toggle="tooltip" data-placement="left" title="Copier dans le presse-papier"><span class="text-muted">Copier</span></button>
  &#123;
    "startDate": "2017-01-22 12:00",
    "endDate": "2018-04-23 12:00",
    <span class="text-danger">"repositories"</span>: [
      &#123; <span class="text-danger">"url"</span>: "https://github.com/user/repository", "name": "First name LAST NAME", "tpGroup": "12" &#125;
    ],
    "sessions": [
      &#123;
        <span class="text-danger">"startDate"</span>: "2019-05-22 10:00",
        <span class="text-danger">"endDate"</span>: "2019-05-22 11:00", 
        "tpGroup": "11"
      &#125;
    ],
    "reviews": [
      &#123; <span class="text-danger">"date"</span>: "2019-03-15 15:40", "label": "Review 1", "tpGroup": "21", "questions": ["1.1", "1.2"] &#125;
    ],
    "corrections": [
      &#123; <span class="text-danger">"date"</span>: "2019-03-17 15:40", "label": "Correction 1", "tpGroup": "22", "questions": ["1.1", "1.2"] &#125;
    ],
    "others": [
      &#123; <span class="text-danger">"date"</span>: "2019-03-19 15:40", "label": "Other 1", "tpGroup": "12", "questions": [] &#125;
    ]
  &#125;</pre>
          <div class="row">
            <div class="col-sm-3">
              <div class="border p-2 rounded">
                <i class="fas fa-square" style="color:red"></i> Required
                <br>
                <i class="fas fa-square" style="color:black"></i> Optional
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">
        <a data-toggle="collapse" href="#collapseReadMe" aria-expanded="true" aria-controls="collapseReadMe"
          style="text-decoration:none" id="heading-example" class="d-block collapsed">
          <i class="fa fa-chevron-down pull-right float-right"></i>
          ReadMe structure
        </a>
      </h5>
      <div id="collapseReadMe" class="collapse" aria-labelledby="heading-example" data-parent="#accordion">
        <div class="card-body p-2">
          <div class="alert alert-info mt-1" role="alert">
            <h5><i class="fas fa-exclamation-triangle"></i>
              The readme format of each repository must follow the format below strictly.</h5>
          </div>
          <pre class="jumbotron p-3 my-1">
          <button type="button" id="copier" class="btn float-right btn-sm" (click)="copyReadMe()" 
          data-toggle="tooltip" data-placement="left" title="Copier dans le presse-papier"><span class="text-muted">Copier</span></button>
{{readMe}}</pre>
          <div class="mt-3">
            <markdown ngPreserveWhitespaces>
              {{readMe}}
            </markdown>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">
        <a data-toggle="collapse" href="#collapseCHANGELOG" aria-expanded="true" aria-controls="collapseCHANGELOG"
          style="text-decoration:none" id="heading-example" class="d-block collapsed">
          <i class="fa fa-chevron-down pull-right float-right"></i>
          CHANGELOG
        </a>
      </h5>
      <div id="collapseCHANGELOG" class="collapse" aria-labelledby="heading-example" data-parent="#accordion">
        <div class="card-body p-2">
          <div class="m-3">
            <!-- <markdown ngPreserveWhitespaces *ngIf="changelog">
              {{changelog}}
            </markdown> -->
            <markdown class="variable-binding" [data]="changelog"></markdown>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>