<h2>Authentification</h2>
<!-- <img *ngIf="loading" src="assets/loader.gif" />
<div class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div> -->
<button class="btn btn-success" *ngIf="!authService.isSignedIn('btn success')" [disabled]="loading" (click)="onSignInGithub()">
  <span *ngIf="loading; else loggedOut" class="spinner-border spinner-border-sm pr-1" role="status" aria-hidden="true"></span>
  Se connecter
      
  <ng-template #loggedOut>
      <i class="fas fa-sign-in-alt pr-1"></i>
  </ng-template>   
</button>
<button class="btn btn-danger" *ngIf="authService.isSignedIn('btn danger')" (click)="onSignOut()"><i class="fas fa-sign-out-alt pr-2"></i>Se déconnecter</button>
