<div class="tooltip-container" [class]="placement" [class.show]="show" [class.shortcut-pressed]="shortcutPressed">
  <span class="tooltip-text">
    <ng-container *ngIf="isString(content); else templateContent">
      <span [innerHTML]="content"></span>
    </ng-container>
    <ng-template #templateContent>
      <ng-container [ngTemplateOutlet]="contentAsTemplate()" [ngTemplateOutletContext]="context"></ng-container>
    </ng-template>
  </span>
  <div class="shortcut-combo ml-1" *ngIf="parsedShortcutKeys?.length">
    <ng-container *ngFor="let key of parsedShortcutKeys; let last = last">
      <kbd class="shortcut-key" [class.shortcut-pressed-anim]="shortcutPressed">{{ key }}</kbd>
      <span class="key-sep" *ngIf="!last && !isMac">+</span>
    </ng-container>
  </div>
</div>
