<div class="tooltip-container" [class]="placement" [class.show]="show" [class.shortcut-pressed]="shortcutPressed">
  <span class="tooltip-text">
    <ng-container *ngIf="isString(content); else templateContent">
      <span [innerHTML]="content"></span>
    </ng-container>
    <ng-template #templateContent>
      <ng-container [ngTemplateOutlet]="contentAsTemplate()" [ngTemplateOutletContext]="context"></ng-container>
    </ng-template>
  </span>
  <span class="shortcut-badge" [class.shortcut-pressed-anim]="shortcutPressed" *ngIf="shortcutKeys?.length">
    {{ formattedShortcut }}
  </span>
</div>
