<div class="container-fluid">
  <div class="row">
    <div class="p-3">
      <select class="form-control ml-2" [disabled]="!dataService.repositories" [(ngModel)]="tpGroup"
        (change)="this.loadGraphDataAndRefresh()">
        <option [ngValue]="undefined" hidden disabled>Select a tp group</option>
        <option *ngFor="let tpGroup of dataService.tpGroups" [value]="tpGroup">{{tpGroup}}</option>
        <option value="">All</option>
      </select>
    </div>
  </div>
</div>
<div class="chart-container">
  <canvas #myChart id="myChart" baseChart [chartType]="'bar'" [datasets]="chartData" [options]="chartOptions"
    [labels]="chartLabels" [legend]="true">
  </canvas>
</div>
<div class="badge badge-light text-wrap float-right">
  {{ today | date:'full' }}
</div>