<div class="d-flex flex-row p-3">
  <div>
    <select class="form-control" [disabled]="!dataService.repositories" [(ngModel)]="tpGroup"
      (change)="this.loadGraphDataAndRefresh()">
      <option [ngValue]="undefined" hidden disabled>Select a tp group</option>
      <option *ngFor="let tpGroup of dataService.tpGroups" [value]="tpGroup">{{tpGroup}}</option>
      <option value="">All</option>
    </select>
  </div>
  <div class="separator"></div>
  <div class="pt-2">
    <input type="range" class="custom-range" (change)="loadGraphDataAndRefresh()" [(ngModel)]="date" [max]="this.max"
      [min]="this.min" title="Date" id="dateSlider" [disabled]="!dataService.repositories">
  </div>
</div>
<div class="chart-container p-3">
  <canvas #myChart id="myChart" baseChart [chartType]="'bar'" [datasets]="chartData" [options]="chartOptions"
    [labels]="chartLabels" [legend]="true">
  </canvas>
</div>
<div class="badge badge-light text-wrap float-right">
  {{ date | date:'full' }}
</div>