<div class="p-2">
    <h2>{{ 'EDIT-REPOSITORIES.PAGE-TITLE' | translate }}</h2>
    <div class="mt-2">
        <form class="needs-validation" [formGroup]="formGroup" novalidate>
            <table class="table table-hover table-striped shadow">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="width: 25%">{{ 'EDIT-REPOSITORIES.COLUMN-NAME' | translate}}</th>
                        <th scope="col" style="width: 50%">{{ 'EDIT-REPOSITORIES.COLUMN-URL' | translate}}</th>
                        <th scope="col" style="width: 12.5%">{{ 'EDIT-REPOSITORIES.COLUMN-TP-GROUP' | translate}}</th>
                        <th scope="col" style="width: 12.5%"></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container formArrayName="formArray"
                        *ngFor="let group of getFormControls.controls; let i = index">
                        <tr *ngIf="group.get('isEditable').value" [formGroupName]="i">
                            <td>
                                <input type="text" class="form-control" formControlName="name" placeholder="git4school">
                            </td>
                            <td>
                                <input type="url" [ngClass]="{
                                    'is-invalid': group.invalid,
                                    'is-valid': group.valid,
                                    'loading': group.pending}" class="form-control" formControlName="url"
                                    placeholder="https://github.com/git4school/git4school-visu">
                                <div class="invalid-feedback">
                                    {{ 'EDIT-REPOSITORIES.MESSAGE-INVALID-URL' | translate }}
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control" formControlName="tpGroup" placeholder="1.1">
                            </td>
                            <td>
                                <div class="btn-group" role="group" aria-label="">
                                    <button type="reset" class="btn btn-danger" (click)="cancelRow(group)"><i
                                            class="fas fa-times"></i></button>
                                    <button type="submit" class="btn btn-success" (click)="validateRow(group)"><i
                                            class="fas fa-check"></i></button>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="!group.get('isEditable').value">
                            <td>
                                {{ group.get('name').value }}
                            </td>
                            <td>
                                {{ group.get('url').value }}
                            </td>
                            <td>
                                {{ group.get('tpGroup').value }}
                            </td>
                            <td>
                                <div class="btn-group" role="group" aria-label="">
                                    <button type="button" class="btn btn-secondary" (click)="editRow(group)"><i
                                            class="fas fa-pencil-alt"></i></button>
                                    <button type="button" class="btn btn-danger" (click)="deleteRow(i)"><i
                                            class="far fa-trash-alt"></i></button>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div class="sticky-bot bg-white py-3">
                <button class="btn btn-secondary" type="submit" (click)="addRow()">
                    <i class="fas fa-user-plus"></i>
                </button>
                <button class="btn btn-primary ml-2" [disabled]="nbEditing || formGroup.invalid" type="submit"
                    (click)="submitForm()">
                    {{ 'EDIT-REPOSITORIES.BUTTON-SAVE' | translate}}
                </button>
                <button class="btn btn-primary float-right"
                    (click)="openAddRepositoriesModal()">{{ 'EDIT-REPOSITORIES-BUTTON-ADD-REPOSITORIES' | translate }}</button>
            </div>
        </form>
    </div>
</div>