<div class="type-picker">
  <div class="type-group" 
       [class.wrap-content]="wrapContent"
       [class.disabled]="isDisabled"
       [class.is-invalid]="isInvalid"
       (mouseenter)="onGroupMouseEnter()"
       (mouseleave)="onGroupMouseLeave()">
    
    <div class="buttons-row">
      <div class="type-indicator" [ngStyle]="indicatorStyle"></div>
      
      <button *ngFor="let option of options; let i = index"
              #btn
              type="button"
              class="type-btn"
              [class.active]="value === option.value"
              [ngStyle]="getButtonStyle(option)"
              (click)="selectType(option.value)"
              (mouseenter)="onButtonMouseEnter(option, i)">
        {{ option.label | translate }}
      </button>
    </div>

    <div class="error-msg" *ngIf="isInvalid && errorMessage">
      <i class="fas fa-exclamation-circle"></i> {{ errorMessage }}
    </div>
  </div>
</div>
