<nav class="navbar sticky-top">
    <!-- LEFT SIDE: Brand & Navigation -->
    <div class="navbar-left d-flex align-items-center flex-nowrap">
        <button class="btn btn-icon btn-outline-secondary mr-3" style="border: none;" (click)="isSidebarOpen = true">
            <i class="fas fa-bars"></i>
        </button>
        <div class="d-flex align-items-center text-nowrap mr-4">
            <span id="document-title" class="navbar-brand mb-0 mr-0">Git4School</span>
        </div>
    </div>

    <!-- RIGHT SIDE: Actions & Settings -->
    <div class="navbar-right d-flex align-items-center flex-nowrap">
    </div>
</nav>

<div>
    <router-outlet></router-outlet>
</div>

<!-- Global Sidebar -->
<div class="sidebar-backdrop" [class.show]="isSidebarOpen" (click)="isSidebarOpen = false"></div>
<div class="sidebar-drawer shadow-lg" [class.show]="isSidebarOpen">

    <app-sidebar-settings [isOpen]="isSidebarOpen" (onClose)="isSidebarOpen = false" class="d-flex flex-column flex-grow-1"></app-sidebar-settings>
</div>