<div class="d-flex flex-row p-3">
  <div class="pl-2">
    <select
      class="form-control"
      [disabled]="!emotionService.dataService.tpGroups?.length || loading"
      [(ngModel)]="emotionService.dataService.groupFilter"
      (change)="this.loadGraphDataAndRefresh()"
      placeholder="d.ff"
    >
      <option [ngValue]="undefined" hidden disabled>
        {{ "TP-GROUP-SELECT.PLACEHOLDER" | translate }}
      </option>
      <option
        *ngFor="let tpGroup of emotionService.dataService.tpGroups"
        [value]="tpGroup"
      >
        {{ tpGroup }}
      </option>
      <option value="">{{ "TP-GROUP-SELECT.ALL" | translate }}</option>
    </select>
  </div>
  <div class="separator"></div>
  <div class="pl-2">
    <select
      class="form-control"
      [disabled]="!emotionService.dataService.tpGroups.length || loading"
      [(ngModel)]="emotionService.selection"
      (change)="this.loadGraphDataAndRefresh()"
    >
      <option
        *ngFor="let repo of getRepositories()"
        [value]="repo.getDisplayName()"
      >
        {{ repo.getDisplayName() }}
      </option>
    </select>
  </div>
</div>

<div id="chart" style="position: relative">
  <div class="chart-container"></div>
</div>

<div id="tooltip">
  <div *ngIf="hovered_commit != null" id="commit_hover">
    <div *ngFor="let hovered of hovered_commit" class="commit_hover_element">
      <p>{{ commit_date_format(hovered.commit.commitDate) }}</p>
      <p>{{ hovered.message }}</p>
    </div>
  </div>
</div>
