<div class="modal-header">
    <h5 class="modal-title">
        {{ (this.addMode ? 'OVERVIEW-GRAPH.MODAL.TITLE-CREATE' : 'OVERVIEW-GRAPH.MODAL.TITLE-EDIT') |
        translate }}
    </h5>
    <button type="button" class="close" (click)="activeModalService.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form class="was-validated" [formGroup]="milestoneForm">
        <div class="form-group">
            <label for="date" class="col-form-label">{{ 'DATE' | translate }} :</label>
            <input class="form-control" type="datetime-local" id="date" formControlName="date">
        </div>
        <div class="form-group">
            <label for="label" class="col-form-label">{{ 'OVERVIEW-GRAPH.MODAL.LABEL' | translate }} :</label>
            <input type="text" class="form-control" id="label" formControlName="label">
        </div>
        <div class="form-group">
            <label for="tpGroup" class="col-form-label">{{ 'OVERVIEW-GRAPH.MODAL.TP-GROUP' | translate }} :</label>
            <select class="form-control" placeholder="d.ff" formControlName="tpGroup" id="tpGroup">
                <option *ngFor="let tpGroup of tpGroups" [value]="tpGroup">{{tpGroup}}</option>
                <option value="">{{ 'TP-GROUP-SELECT.ALL' | translate }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="questions" class="col-form-label">{{ 'QUESTIONS' | translate }} :</label>
            <type-ahead placeholder="{{ 'OVERVIEW-GRAPH.MODAL.QUESTIONS-PLACEHOLDER' | translate }}" name="questions"
                id="questions" [suggestions]="questions" class="form-control" [multi]="true" [custom]="false"
                [settings]="typeaheadSettings" formControlName="questions">
            </type-ahead>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="corrections" formControlName="type" class="custom-control-input"
                value="corrections">
            <label class="custom-control-label" for="corrections">{{ 'CORRECTION' | translate }}</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="reviews" formControlName="type" class="custom-control-input" value="reviews">
            <label class="custom-control-label" for="reviews">{{ 'REVIEW' | translate }}</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="others" formControlName="type" class="custom-control-input" value="others">
            <label class="custom-control-label" for="others">{{ 'OTHER' | translate }}</label>
        </div>
        <hr>
        <button *ngIf="!addMode" type="button" class="btn btn-danger col-5" (click)="deleteMilestone()">{{
            'OVERVIEW-GRAPH.MODAL.DELETE' | translate }}</button>
        <button type="submit" class="btn btn-primary col-5 float-right mb-2" (click)="submitMilestone()"
            [disabled]="!milestoneForm.valid">{{
            'OVERVIEW-GRAPH.MODAL.CONFIRM' | translate }}</button>
    </form>
</div>