<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="auth"><i
            class="fas fa-unlock-alt pr-2"></i>Authentication</a></li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-chart-line pr-2"></i>Graphs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="graph"><i class="fas fa-chart-line pr-2"></i>Overview</a>
          <a class="dropdown-item" routerLink="students-commits-view"><i class="fas fa-chart-bar pr-2"></i>Students
            commits</a>
          <a class="dropdown-item" routerLink="questions-completion-view"><i class="fas fa-question pr-2"></i>Questions
            completion</a>
        </div>
      </li>


      <!-- <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="graph"><i
            class="fas fa-chart-line pr-2"></i>Graph</a></li> -->
    </ul>
  </div>
</nav>



<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>