<div>
  <ngx-datatable #assignmentsTable class="material expandable" [rows]="assignments" [groupRowsBy]="'year'"
    [columnMode]="'force'" [scrollbarH]="true" [headerHeight]="50" [footerHeight]="50" [rowHeight]="40" [limit]="4"
    [groupExpansionDefault]="true">
    <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader (toggle)="onDetailToggle($event)">
      <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
        <div style="padding-left:5px;">
          <a href="#" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
            title="Expand/Collapse Group" (click)="toggleExpandGroup(group)">
            <b>Year: {{ group.value[0].metadata.startDate }}</b>
          </a>
        </div>
      </ng-template>
    </ngx-datatable-group-header>

    <ngx-datatable-column name="{{ 'ASSIGNMENT-CHOOSER.ID' | translate }}" prop="id" editable="true" frozenLeft="True">
    </ngx-datatable-column>
    <ngx-datatable-column name="{{ 'ASSIGNMENT-CHOOSER.TITLE' | translate }}" prop="title" editable="false"
      frozenLeft="True"></ngx-datatable-column>
    <ngx-datatable-column name="{{ 'ASSIGNMENT-CHOOSER.COURSE' | translate }}" prop="course" editable="true">
    </ngx-datatable-column>
    <ngx-datatable-column name="{{ 'ASSIGNMENT-CHOOSER.PROGRAM' | translate }}" prop="program"></ngx-datatable-column>
    <ngx-datatable-column name="{{ 'ASSIGNMENT-CHOOSER.YEAR' | translate }}" prop="year"></ngx-datatable-column>
    <ngx-datatable-column name="{{ 'ASSIGNMENT-CHOOSER.LAST-MODIFICATION-DATE' | translate }}">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.lastModificationDate | date: 'short' }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [maxWidth]="170" [sortable]="false">
      <ng-template let-column="column" ngx-datatable-header-template>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary btn-sm" (click)="createAssignment()"
            [ngbTooltip]="createAssignmentTooltip">
            <i class="fas fa-plus"></i>
          </button>
          <button class="btn btn-secondary btn-sm" [ngbTooltip]="downloadTooltip" (click)="exportDB()"><i
              class="fas fa-download"></i></button>
          <input #assignmentFile type="file" (change)="changeListener($event)" hidden>
          <button class="btn btn-secondary btn-sm" (click)="assignmentFile.click();" [ngbTooltip]="uploadTooltip"><i
              class="fas fa-upload"></i></button>
        </div>
      </ng-template>

      <ng-template let-row="row" ngx-datatable-cell-template>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary left-right-btn" (click)="selectAssignment(row)"
            [ngbTooltip]="selectAssignmentTooltip" [disabled]="!authService.isSignedIn()">
            <i class="far fa-arrow-alt-circle-right icon"></i>
          </button>
          <button type="button" class="btn btn-secondary spin-btn" (click)="openConfigurationModal(row)"
            [ngbTooltip]="editAssignmentTooltip">
            <i class="fas fa-cog icon"></i>
          </button>
          <button type="button" class="btn btn-danger fill-btn" (click)="deleteAssignment(row)"
            [ngbTooltip]="deleteAssignmentTooltip">
            <i class="far fa-trash-alt icon"></i>
          </button>
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>

<ng-template #importConfirmation>
  <div class="modal-header">
    <h4 class="modal-title">{{ "IMPORT-CONFIRMATION-TITLE" | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ "IMPORT-CONFIRMATION-MESSAGE" | translate }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modalRef.dismiss('Cancel')">
      {{ "CANCEL" | translate }}
    </button>
    <button type="button" class="btn btn-primary" (click)="modalRef.close('Confirm')">
      {{ "CONFIRM" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #createAssignmentTooltip>{{ 'HOME.CREATE-ASSIGNMENT-TOOLTIP' | translate }}</ng-template>
<ng-template #selectAssignmentTooltip>{{ 'HOME.SELECT-ASSIGNMENT-TOOLTIP' | translate }}</ng-template>
<ng-template #editAssignmentTooltip>{{ 'HOME.EDIT-ASSIGNMENT-TOOLTIP' | translate }}</ng-template>
<ng-template #deleteAssignmentTooltip>{{ 'HOME.DELETE-ASSIGNMENT-TOOLTIP' | translate }}</ng-template>
<ng-template #downloadTooltip>{{ 'EXPORT-ASSIGNMENTS-TOOLTIP' | translate }}</ng-template>
<ng-template #uploadTooltip>{{ 'IMPORT-ASSIGNMENTS-TOOLTIP' | translate }}</ng-template>