.chart-container {
  width: 100%;
  height: 600;
  vertical-align: top;
  overflow: auto;
}

.chart-container:focus {
  outline: none;
}

#commit_hover {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 0;
  padding: 5px;
  border-radius: 5px;
  transform: translateY(-90px);
}

#commit_hover > p {
  font-size: 10px;
  margin: 2px;
}

#commit_group_hover {
  position: absolute;
  transform: translateY(-90px);
}
#commit_group_hover > div {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 0;
  padding: 5px;
  border-radius: 5px;
}


#commit_group_hover > div > p {
  font-size: 10px;
  margin: 2px;
}
