<div class="d-flex flex-row p-3">
    <div class="w-50">
        <form (ngSubmit)="searchSubmit(searchForm)" #searchForm="ngForm">
            <div class="input-group">
                <type-ahead placeholder="{{ 'OVERVIEW-GRAPH.SEARCH-PLACEHOLDER' | translate }}" name="search"
                    [suggestions]="dataService.questions" class="form-control" [multi]="true" [custom]="false"
                    [settings]="typeaheadSettings" [disabled]="!dataProvided.dataLoaded() || loading" ngModel>
                </type-ahead>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="search-submit"
                        [disabled]="!dataProvided.dataLoaded() || loading"
                        type="submit">{{ 'OVERVIEW-GRAPH.SEARCH-BUTTON' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
    <div class="pl-2">
        <select class="form-control" [disabled]="!dataProvided.dataLoaded() || loading" [(ngModel)]="tpGroup"
            (change)="this.loadGraphDataAndRefresh()" placeholder="d.ff">
            <option [ngValue]="undefined" hidden disabled>{{ 'TP-GROUP-SELECT.PLACEHOLDER' | translate }}
            </option>
            <option *ngFor="let tpGroup of dataService.tpGroups" [value]="tpGroup">{{tpGroup}}</option>
            <option value="">{{ 'TP-GROUP-SELECT.ALL' | translate }}</option>
        </select>
    </div>
    <div class="separator"></div>
    <div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" [disabled]="!dataProvided.dataLoaded() || loading"
                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                data-trigger="hover" [ngbTooltip]="markersTooltip">
                {{ 'OVERVIEW-GRAPH.MARKERS.BUTTON' | translate }}
            </button>
            <div class="dropdown-menu">
                <form class="px-4 py-3">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sessionsSwitch"
                            [(ngModel)]="showSessions" (change)="this.loadGraphDataAndRefresh()"
                            [ngModelOptions]="{standalone: true}">
                        <label class="custom-control-label"
                            for="sessionsSwitch">{{ 'OVERVIEW-GRAPH.MARKERS.SESSIONS' | translate }}</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="correctionsSwitch"
                            [(ngModel)]="showCorrections" (change)="this.loadGraphDataAndRefresh()"
                            [ngModelOptions]="{standalone: true}">
                        <label class="custom-control-label"
                            for="correctionsSwitch">{{ 'OVERVIEW-GRAPH.MARKERS.CORRECTIONS' | translate }}</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" selected id="reviewsSwitch"
                            [(ngModel)]="showReviews" (change)="this.loadGraphDataAndRefresh()"
                            [ngModelOptions]="{standalone: true}">
                        <label class="custom-control-label"
                            for="reviewsSwitch">{{ 'OVERVIEW-GRAPH.MARKERS.REVIEWS' | translate }}</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" selected id="othersSwitch"
                            [(ngModel)]="showOthers" (change)="this.loadGraphDataAndRefresh()"
                            [ngModelOptions]="{standalone: true}">
                        <label class="custom-control-label"
                            for="othersSwitch">{{ 'OVERVIEW-GRAPH.MARKERS.OTHERS' | translate }}</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <div>
        <div class="btn-group" role="group" aria-label="Interaction controls">
            <button class="btn btn-outline-secondary" [disabled]="!dataProvided.dataLoaded() || loading"
                (click)="resetZoom()" data-toggle="tooltip" [ngbTooltip]="resetZoomTooltip" data-trigger="hover">
                <span class="fa-layers fa-fw">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-times" data-fa-transform="shrink-8 up-1.6 left-2"></i>
                </span>
            </button>
            <button class="btn btn-outline-secondary" data-toggle="tooltip" [ngbTooltip]="changeZoomTooltip"
                data-trigger="hover" [disabled]="!dataProvided.dataLoaded() || loading" (click)="changeZoom()">
                <div *ngIf="drag">
                    <span class="fa-layers fa-fw">
                        <i class="fas fa-mouse-pointer" data-fa-transform="shrink-2 right-5 down-6"></i>
                        <i class="far fa-square" data-fa-transform="shrink-2 up-6 left-5"></i>
                    </span>
                </div>
                <div *ngIf="!drag">
                    <span class="fa-layers fa-fw">
                        <i class="fas fa-mouse-pointer" data-fa-transform="shrink-2 right-5 down-6"></i>
                        <i class="fas fa-arrows-alt-h" data-fa-transform="up-6 left-5"></i>
                    </span>
                </div>
            </button>
            <button class="btn btn-outline-secondary" (click)="changeUnit()" data-toggle="tooltip"
                [ngbTooltip]="changeTimeScaleTooltip" [disabled]="!dataProvided.dataLoaded() || loading"
                data-trigger="hover">
                <div *ngIf="unit === 'week'"><i class="fas fa-calendar-week"></i></div>
                <div *ngIf="unit === 'hour'"><i class="fas fa-clock"></i></div>
                <div *ngIf="unit === 'day'"><i class="fas fa-calendar-day"></i></div>
            </button>
        </div>
    </div>
    <div class="separator"></div>
    <div>
        <div class="btn-group" role="group" aria-label="File controls">
            <button class="btn btn-outline-secondary" [ngbTooltip]="downloadTooltip" (click)="download()"
                [disabled]="!dataProvided.dataLoaded() || loading" data-toggle="tooltip" data-trigger="hover"><i
                    class="fas fa-download"></i></button>
            <button class="btn btn-outline-secondary" [ngbTooltip]="uploadTooltip" data-toggle="modal"
                data-target="#uploadFileModal" data-trigger="hover"><i class="fas fa-upload"></i></button>
            <button class="btn btn-outline-secondary" (click)="loadGraph(dataService.startDate, dataService.endDate)"
                [disabled]="!dataProvided.dataLoaded() || loading" data-toggle="tooltip" [ngbTooltip]="reloadTooltip"
                data-trigger="hover">
                <div *ngIf="loading"><i class="fas fa-sync-alt fa-spin"></i></div>
                <div *ngIf="!loading"><i class="fas fa-sync-alt"></i></div>
            </button>
        </div>
    </div>
</div>
<div class="chart-container">
    <canvas #myChart id="myChart" baseChart [chartType]="'line'" [datasets]="chartData" [options]="chartOptions"
        [legend]="false" (chartClick)="onChartClick($event)" (chartHover)="onChartHover($event)">
    </canvas>
</div>
<div class="card">
    <h5 class="card-header">
        <a data-toggle="collapse" href="#legendCollapse" aria-expanded="true" aria-controls="legendCollapse"
            style="text-decoration:none" id="heading-example" class="d-block collapsed">
            <i class="fa fa-chevron-down float-right"></i>
            {{ 'OVERVIEW-GRAPH.LEGEND.TITLE' | translate }}
        </a>
    </h5>
    <div id="legendCollapse" class="collapse">
        <div class="card-body">
            <p class="card-text">
                <i class="far fa-square fa-fw" data-fa-transform="rotate-45"></i>
                {{ 'OVERVIEW-GRAPH.LEGEND.COMMIT' | translate }}
                <i class="far fa-circle fa-fw ml-3"></i> {{ 'OVERVIEW-GRAPH.LEGEND.CLOSING' | translate }}<br>
                <i class="fas fa-circle fa-fw" style="color:rgb(77, 77, 77)"></i>
                {{ 'OVERVIEW-GRAPH.LEGEND.INTERMEDIATE' | translate }}
                <i class="fas fa-circle fa-fw ml-3" style="color:rgb(53, 198, 146)"></i>
                {{ 'OVERVIEW-GRAPH.LEGEND.BEFORE' | translate }}
                <i class="fas fa-circle fa-fw ml-3" style="color:rgb(255, 127, 74)"></i>
                {{ 'OVERVIEW-GRAPH.LEGEND.BETWEEN' | translate }}
                <i class="fas fa-circle fa-fw ml-3" style="color:rgb(203, 91, 68)"></i>
                {{ 'OVERVIEW-GRAPH.LEGEND.AFTER' | translate }}<br>
                <i class="fas fa-minus" data-fa-transform="rotate-90" style="color:blue"></i>
                {{ 'REVIEW' | translate }}
                <i class="fas fa-minus ml-3" data-fa-transform="rotate-90" style="color:red"></i>
                {{ 'CORRECTION' | translate }}
                <i class="fas fa-minus ml-3" data-fa-transform="rotate-90"></i>
                {{ 'OTHER' | translate }}<br>
                <span class="fa-layers fa-fw">
                    <i class="fas fa-square" style="color:rgba(33, 150, 243, 0.15)"></i>
                    <i class="far fa-square" style="color:rgba(79, 195, 247,1.0)"></i>
                </span> {{ 'SESSION' | translate }}
            </p>
        </div>
    </div>
</div>



<div class="modal fade" id="addMilestoneModal" tabindex="-1" role="dialog" aria-labelledby="addMilestoneModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMilestoneModalLabel">
                    {{ (this.addModal ? 'OVERVIEW-GRAPH.MODAL.TITLE-CREATE' : 'OVERVIEW-GRAPH.MODAL.TITLE-EDIT') | translate }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="was-validated" (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="form-group">
                        <label for="date" class="col-form-label">{{ 'DATE' | translate }} :</label>
                        <input class="form-control" type="datetime-local" [ngModel]="dateModal" id="date" name="date"
                            required ngModel>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name"
                            class="col-form-label">{{ 'OVERVIEW-GRAPH.MODAL.LABEL' | translate }} :</label>
                        <input type="text" class="form-control" id="recipient-name" name="label" [ngModel]="labelModal"
                            ngModel>
                    </div>
                    <div class="form-group">
                        <label for="message-text"
                            class="col-form-label">{{ 'OVERVIEW-GRAPH.MODAL.TP-GROUP' | translate }} :</label>
                        <select class="form-control" [ngModel]="tpGroupModal" (change)="this.loadGraphDataAndRefresh()"
                            placeholder="d.ff" name="tpGroup" id="tpGroup">
                            <option *ngFor="let tpGroup of dataService.tpGroups" [value]="tpGroup">{{tpGroup}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label id="questions-tooltip" for="questions"
                            class="col-form-label">{{ 'QUESTIONS' | translate }} :</label>
                        <type-ahead placeholder="{{ 'OVERVIEW-GRAPH.MODAL.QUESTIONS-PLACEHOLDER' | translate }}"
                            name="questions" id="questions" [ngModel]="questionsModal"
                            [suggestions]="dataService.questions" class="form-control" [multi]="true" [custom]="false"
                            [settings]="typeaheadSettings" ngModel>
                        </type-ahead>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadio1" name="jalon" class="custom-control-input"
                            value="corrections" [ngModel]="typeModal" required ngModel>
                        <label class="custom-control-label" for="customRadio1">{{ 'CORRECTION' | translate }}</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadio2" name="jalon" class="custom-control-input" value="reviews"
                            [ngModel]="typeModal" required ngModel>
                        <label class="custom-control-label" for="customRadio2">{{ 'REVIEW' | translate }}</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadio3" name="jalon" class="custom-control-input" value="others"
                            [ngModel]="typeModal" required ngModel>
                        <label class="custom-control-label" for="customRadio3">{{ 'OTHER' | translate }}</label>
                    </div>
                    <hr>
                    <button *ngIf="!addModal" type="button" class="btn btn-danger col-5"
                        (click)="deleteMilestone()">{{ 'OVERVIEW-GRAPH.MODAL.DELETE' | translate }}</button>
                    <button type="submit" class="btn btn-primary col-5 float-right"
                        [disabled]="f.invalid">{{ 'OVERVIEW-GRAPH.MODAL.CONFIRM' | translate }}</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog" aria-labelledby="uploadFileModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadFileModalLabel">{{ 'OVERVIEW-GRAPH.UPLOAD.TITLE' | translate }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-row">
                    <button class="btn btn-secondary mr-1" (click)="readFile()"
                        [disabled]="!jsonManager.file || loading" data-toggle="tooltip" [ngbTooltip]="rereadTooltip"
                        data-trigger="hover">
                        <i class="fas fa-redo-alt"></i>
                    </button>
                    <div class="input-group">
                        <div class="input-group-prepend ">
                            <span class="input-group-text" id="inputGroupFileAddon01"><i
                                    class="fas fa-upload"></i></span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                                aria-describedby="inputGroupFileAddon01" (change)="changeListener($event)" />
                            <label class="custom-file-label"
                                for="inputGroupFile01">{{ jsonManager.filename || ( 'OVERVIEW-GRAPH.UPLOAD.FILE-PLACEHOLDER' | translate ) }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #markersTooltip>{{ 'OVERVIEW-GRAPH.MARKERS.TOOLTIP' | translate }}</ng-template>
<ng-template #resetZoomTooltip>{{ 'OVERVIEW-GRAPH.RESET-ZOOM-TOOLTIP' | translate }}</ng-template>
<ng-template #changeZoomTooltip>{{ 'OVERVIEW-GRAPH.CHANGE-ZOOM-TOOLTIP' | translate }}</ng-template>
<ng-template #changeTimeScaleTooltip>{{ 'OVERVIEW-GRAPH.CHANGE-TIME-SCALE-TOOLTIP' | translate }}</ng-template>
<ng-template #downloadTooltip>{{ 'OVERVIEW-GRAPH.DOWNLOAD-TOOLTIP' | translate }}</ng-template>
<ng-template #uploadTooltip>{{ 'OVERVIEW-GRAPH.UPLOAD.TOOLTIP' | translate }}</ng-template>
<ng-template #reloadTooltip>{{ 'OVERVIEW-GRAPH.RELOAD-TOOLTIP' | translate }}</ng-template>
<ng-template #rereadTooltip>{{ 'OVERVIEW-GRAPH.REREAD-TOOLTIP' | translate }}</ng-template>