<div class="d-flex flex-row p-3">
  <div>
    <select class="form-control" [disabled]=" !dataService.tpGroups.length || loading" [(ngModel)]="dataService.groupFilter"
      (change)="this.loadGraphDataAndRefresh()">
      <option [ngValue]="undefined" hidden disabled>{{ 'TP-GROUP-SELECT.PLACEHOLDER' | translate }}</option>
      <option *ngFor="let tpGroup of dataService.tpGroups" [value]="tpGroup">{{tpGroup}}</option>
      <option value="">{{ 'TP-GROUP-SELECT.ALL' | translate }}</option>
    </select>
  </div>
  <div class="separator"></div>
  <div class="pt-2 w-25">
    <input type="range" class="custom-range" (input)="loadGraphDataAndRefresh()" [(ngModel)]="date" [max]="getAdjustedMaxTimestamp()"
      [min]="this.min" [ngbTooltip]="dateTooltip" id="dateSlider" step="86400000"
      [disabled]="!dataService.repositories.length || loading">
  </div>
  <div class="mt-1 ml-2"><span class="badge badge-secondary">{{ date | date:'yyyy-MM-dd HH:mm' }}</span></div>
  <div class="separator"></div>
  <div class="mt-1 mr-2">{{ 'BAR-INDEX' | translate }} :</div>
  <div class="pt-2">
    <input type="range" class="custom-range" (input)="changeBarIndex()" [(ngModel)]="dataService.barIndex" min="1"
      max="9" title="Bar" id="barSlider" step="1">
  </div>
  <div class="mt-1 ml-2"><span class="badge badge-secondary">{{ dataService.barIndex * 10 }}</span></div>
  <div class="separator"></div>
  <button class="btn btn-outline-secondary" (click)="loadGraph(dataService.startDate, dataService.endDate)"
    [ngbTooltip]="reloadTooltip" [disabled]="!dataService.repositories.length || loading">
    <div *ngIf="loading"><i class="fas fa-sync-alt fa-spin"></i></div>
    <div *ngIf="!loading"><i class="fas fa-sync-alt"></i></div>
  </button>
</div>
<div class="chart-container">
  <canvas #myChart id="myChart" baseChart [chartType]="'bar'" [datasets]="chartData" [options]="chartOptions"
    [labels]="chartLabels" [legend]="true">
  </canvas>
</div>
<div class="badge badge-light text-wrap float-right">
  {{ date | date:'full':undefined:translateService.currentLang }}
</div>

<ng-template #dateTooltip>{{ 'DATE' | translate }}</ng-template>
<ng-template #reloadTooltip>{{ 'OVERVIEW-GRAPH.RELOAD-TOOLTIP' | translate }}</ng-template>
