<div class="input-group">
    <div class="input-group-prepend" *ngIf="authService.isSignedIn()">
        <button class="btn btn-danger" (click)="onSignOut()">
            <i class="fas fa-sign-out-alt mr-2"></i>{{'NAVBAR.SIGN-OUT' | translate }}
        </button>
    </div>
    <select #langSelect (change)="changeLanguage(langSelect.value)" class="form-control"
        style="text-align-last:center; ">
        <option *ngFor="let lang of translateService.getLangs()" [value]="lang"
            [selected]="lang === translateService.currentLang" class="text-center">
            {{ lang }}</option>
    </select>
</div>