<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ 'MODAL-ADD-REPOSITORIES.TITLE' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalService.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <input class="form-control mb-2" type="text"
        placeholder="{{ 'MODAL-ADD-REPOSITORIES.PLACEHOLDER-FILTER' | translate }}" (keyup)="updateFilter($event)" />
    <ngx-datatable class="material striped" style="height: 400px" [rows]="rows | async" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="50" [loadingIndicator]="loading" [scrollbarV]="true" [columnMode]="'flex'"
        [selected]="selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="true" [virtualization]="false"
        (select)="onSelect($event)">
        <ngx-datatable-column [headerCheckboxable]="true" [checkboxable]="true" [flexGrow]="1">
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ 'MODAL-ADD-REPOSITORIES.COLUMN-NAME' | translate }}" prop="name" [flexGrow]="2">
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ 'MODAL-ADD-REPOSITORIES.COLUMN-URL' | translate }}" prop="url" [flexGrow]="4">
        </ngx-datatable-column>
    </ngx-datatable>
</div>
<div class="modal-footer">
    <div class="input-group">
        <input type="text" class="form-control"
            placeholder="{{ 'MODAL-ADD-REPOSITORIES.PLACEHOLDER-TPGROUP' | translate }}" [(ngModel)]="tpGroup">
        <div class="input-group-append">
            <button type="button" class="btn btn-outline-dark"
                (click)="close()">{{ 'MODAL-ADD-REPOSITORIES.BUTTON-ADD' | translate }}</button>
        </div>
    </div>

</div>