<div class="text-input-wrapper" 
     [class.is-focused]="isFocused" 
     [class.has-value]="hasValue"
     [class.is-invalid]="invalid"
     [class.is-valid]="valid"
     [class.is-disabled]="isDisabled">

  <fieldset class="text-input-fieldset" aria-hidden="true">
    <legend class="text-input-legend">
      <span class="notch-text">{{ label }} <span *ngIf="required" class="text-danger">*</span></span>
    </legend>
  </fieldset>

  <div class="text-input-inner">
    <ng-container *ngIf="suggestions !== undefined">
      <input 
        #inputElement
        class="text-input-element" 
        [type]="type" 
        [id]="id"
        [placeholder]="placeholder"
        [disabled]="isDisabled"
        [value]="value"
        (input)="onInput($event)"
        (focus)="onFocus(); focus$.next($any($event).target.value)"
        (click)="click$.next($any($event).target.value)"
        (blur)="onBlur()"
        (keydown.enter)="onEnter($event)"
        
        [ngbTypeahead]="search"
        [resultTemplate]="rt"
        #instance="ngbTypeahead"
        (selectItem)="onSelectItem($event)"
        container="body" />
        
      <ng-template #rt let-r="result" let-t="term">
        <div class="text-input-suggestion px-1">
          <ngb-highlight [result]="r" [term]="t"></ngb-highlight>
        </div>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="suggestions === undefined">
      <input 
        #inputElement
        class="text-input-element" 
        [type]="type" 
        [id]="id"
        [placeholder]="placeholder"
        [disabled]="isDisabled"
        [value]="value"
        (input)="onInput($event)"
        (focus)="onFocus()"
        (blur)="onBlur()"
        (keydown.enter)="onEnter($event)" />
    </ng-container>

    <label class="text-input-label" [for]="id">
      {{ label }} <span *ngIf="required" class="text-danger">*</span>
    </label>

    <div class="text-input-actions">
      <button type="button" class="action-btn btn-clear" 
              *ngIf="hasValue && !isDisabled" 
              (click)="clearValue()" 
              tabindex="-1">
        <i class="fas fa-times"></i>
      </button>
      
      <i class="far fa-question-circle action-btn btn-help" 
         *ngIf="helperText"
         [appTooltip]="helperText" 
         container="body"></i>
    </div>
  </div>

</div>
