/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr";
@import "node_modules/bootstrap/scss/bootstrap";

.rounded-circle {
  width: 32px;
  height: 32px;
}

.card-header .fa-chevron-down {
  transition: 0.3s transform ease-in-out;
}
.card-header.collapsed .fa-chevron-down {
  transform: rotate(90deg);
}

.separator {
  border-left: 1px solid rgba(170, 170, 170, 0.308);
  margin-left: 13px;
  margin-right: 13px;
  box-shadow: 0 0 2px 1px rgba(170, 170, 170, 0.308);
}

.jumbotron {
  border-left: 5px solid rgba(177, 177, 177, 0.555);
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

$sizes: (
  5: 5%,
  10: 10%,
  15: 15%,
  20: 20%,
  30: 30%,
  35: 35%,
  40: 40%,
  45: 45%,
  55: 55%,
  60: 60%,
  65: 65%,
  70: 70%,
  80: 80%,
  85: 85%,
  90: 90%,
  95: 95%,
);

.sticky-bot {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
}

.is-invalid {
  animation: heartbeat 1.5s ease-in-out both;
}

.is-invalid input {
  animation: heartbeat 1.5s ease-in-out both;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }

  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }

  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }

  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }

  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.loading {
  background-color: #ffffff;
  background-image: url("assets/images/spinner.gif");
  background-size: 25px 25px;
  background-position: right 5px center;
  background-repeat: no-repeat;
  padding-right: 35px;
}

.ngx-datatable.scroll-vertical .datatable-body {
  overflow-x: hidden;
}

@keyframes anim-blinking {
  0% {
    fill-opacity: 1;
  }

  50% {
    fill-opacity: 0.4;
  }

  100% {
    fill-opacity: 1;
  }
}

.blinking {
  animation: anim-blinking 4s ease-in-out infinite;
}

.form-group.required .required-label::after {
  content: "*";
  color: red;
  margin-left: 4px;
}

@import "~bootstrap/scss/bootstrap";
@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";
