<div class="chart-container">
    <canvas #myChart id='myChart'
            baseChart
            [chartType]="'line'"
            [datasets]="chartData"
            [options]="chartOptions"
            [legend]="false"
            (chartClick)="onChartClick($event)"
            (chartHover)="onChartHover($event)">
    </canvas>
</div>
<ul class="list-group">
    <app-commit-view *ngIf="commit" [message]="commit.message"
                                    [author]="commit.author"
                                    [commitDate]="commit.date"></app-commit-view>
</ul>
