<div class="container-fluid">
    <div class="row">
        <div class="p-3">
            <div class="input-group">
                <div class="input-group-prepend ">
                    <span class="input-group-text" id="inputGroupFileAddon01"><i class="fas fa-upload"></i></span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                        aria-describedby="inputGroupFileAddon01" (change)="changeListener($event)" />
                    <label class="custom-file-label" for="inputGroupFile01">{{
                        jsonManager.filename || 'Choose file'
          }}</label>
                </div>
                <button class="btn btn-outline-secondary ml-2" (click)="readFile()"
                    [disabled]="!jsonManager.file || loading" data-toggle="tooltip" title="Reload" data-trigger="hover">
                    <i [ngClass]="loading ? 'fas fa-redo-alt fa-spin' : 'fas fa-redo-alt'"></i>
                </button>
                <button class="btn btn-outline-secondary ml-2" (click)="changeUnit()" data-toggle="tooltip"
                    title="Change the time scale" [disabled]="!dataService.repositories || loading"
                    data-trigger="hover">
                    <i [ngClass]="
              chartOptions.scales.xAxes[0].time.unit == 'day'
                ? 'fas fa-calendar-day'
                : 'fas fa-calendar-week'
            "></i>
                </button>
                <select class="form-control ml-2 col-2" [disabled]="!dataService.repositories || loading"
                    [(ngModel)]="tpGroup" (change)="this.loadGraphDataAndRefresh()">
                    <option *ngFor="let tpGroup of dataService.tpGroups" [value]="tpGroup">{{tpGroup}}</option>
                    <option value="">All</option>
                </select>
                <div class="dropdown ml-2">
                    <button class="btn btn-secondary dropdown-toggle" [disabled]="!dataService.repositories || loading"
                        type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" title="Show or hide milestones" data-trigger="hover">
                        Filters
                    </button>
                    <div class="dropdown-menu">
                        <form class="px-4 py-3">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="sessionsSwitch"
                                    [(ngModel)]="showSessions" (change)="this.loadGraphDataAndRefresh()"
                                    [ngModelOptions]="{standalone: true}">
                                <label class="custom-control-label" for="sessionsSwitch">Sessions</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="correctionsSwitch"
                                    [(ngModel)]="showCorrections" (change)="this.loadGraphDataAndRefresh()"
                                    [ngModelOptions]="{standalone: true}">
                                <label class="custom-control-label" for="correctionsSwitch">Corrections</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" selected id="reviewsSwitch"
                                    [(ngModel)]="showReviews" (change)="this.loadGraphDataAndRefresh()"
                                    [ngModelOptions]="{standalone: true}">
                                <label class="custom-control-label" for="reviewsSwitch">Reviews</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" selected id="othersSwitch"
                                    [(ngModel)]="showOthers" (change)="this.loadGraphDataAndRefresh()"
                                    [ngModelOptions]="{standalone: true}">
                                <label class="custom-control-label" for="othersSwitch">Others</label>
                            </div>
                        </form>
                    </div>
                </div>
                <button class="btn btn-warning ml-2" [disabled]="!dataService.repositories || loading"
                    (click)="resetZoom()" data-toggle="tooltip" title="Or press space bar" data-trigger="hover">Reset
                    zoom</button>
                <button class="btn btn-secondary ml-2" [disabled]="!dataService.repositories || loading"
                    (click)="changeZoom()">Change
                    zoom mode</button>
                <a class="btn btn-danger ml-2" title="Download JSON" [href]="jsonManager.downloadJsonHref"
                    download="download.json" [hidden]="!dataService.repositories || loading"><i class="fas fa-download"
                        data-toggle="tooltip" data-trigger="hover"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="chart-container">
    <canvas #myChart id="myChart" baseChart [chartType]="'line'" [datasets]="chartData" [options]="chartOptions"
        [legend]="false" (chartClick)="onChartClick($event)" (chartHover)="onChartHover($event)">
    </canvas>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New milestone</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="was-validated" (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="form-group">
                        <label for="date" class="col-form-label">Date :</label>
                        <input class="form-control" type="datetime-local" [ngModel]="dateAjoutJalon" id="date"
                            name="date" required ngModel>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Label :</label>
                        <input type="text" class="form-control" id="recipient-name" name="label" ngModel>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">TP group :</label>
                        <input type="text" class="form-control" id="message-text" name="tpGroup" ngModel>
                    </div>
                    <div class="form-group">
                        <label id="questions-tooltip" for="questions" class="col-form-label" data-toggle="tooltip"
                            title="Questions separated by commas">Questions :</label>
                        <input type="text" class="form-control" id="questions" name="questions" ngModel>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadio1" name="jalon" class="custom-control-input"
                            value="correction" required ngModel>
                        <label class="custom-control-label" for="customRadio1">Correction</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadio2" name="jalon" class="custom-control-input" value="review"
                            required ngModel>
                        <label class="custom-control-label" for="customRadio2">Review</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadio3" name="jalon" class="custom-control-input" value="other"
                            required ngModel>
                        <label class="custom-control-label" for="customRadio3">Other</label>
                    </div>
                    <hr>
                    <button type="button" class="btn btn-secondary col-5" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary col-5 float-right" [disabled]="f.invalid">Create
                        milestone</button>
                </form>
            </div>
        </div>
    </div>
</div>